html{
    height: 100vh;
}
body {
    background-color: white;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}


/*navigation*/
.header-bar {
    background-color: #1A0622;
}

.header-bar {
    justify-content: center;
}

.navbar-toggler {
    position: absolute;
    left: 20px;
}

.logo {
    height: 50px;
}

.navbar-toggler {
    border: none;
}

.desk-logo {
    display: none;
}

.main-menu {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    list-style-type: none;
}

.main-menu a {
    text-decoration: none;
    color: white;
}
.main-menu a:hover {
    color: rgb(187, 187, 187);
}

.header-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.divider {
    height: 20px;
}

@media screen and (min-width: 810px){
    .mob-logo {
        display: none;
    }
    .desk-logo {
        display: block;
    }
}