<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Viralize</title>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
</head>
<body>
    
    <!-- navbar -->
    <header>
      <div class="pos-f-t">
          <div class="collapse" id="navbarToggleExternalContent">
            <div class="header-bar p-4">
              <nav class="main-menu text-white">
                  <li><a href="#">Home</a></li>
                  <li><a href="#">Contact</a></li>
                  <li><a href="#">Terms&Conditions</a></li>    
              </nav>
              <span class="divider"></span>
              <span class="text-muted">SC Viralize SRL All Rights Reserved Copyright ©</span>
            </div>
          </div>
          <nav class="navbar navbar-dark header-bar">
            <button class="navbar-toggler" id="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
              <img class="menu-button" src="/assets/nav-toggler-icon.svg">
            </button>
            <img class="logo mob-logo" src="/assets/viralize-logo.svg">
            <img class="logo desk-logo" src="/assets/viralize-logo-desk.svg">
          </nav>
      </div>
    </header>

    <div class='cover-background'>
      <div class='cover'>
        <div class='divider'></div>
        <div class='divider'></div>
        <h1>You need a website to start <br> making <br> your sales go up?</h1>
        <span class="divider coverspacing"></span>
        <div class='cover-wrapper'>
          <div class='settings-CTA'><h2>Start:</h2></div>
          <div class='settings-CTA'>
            <h3>SELLING ONLINE</h3>
            <div class='switch-CTA-first'>
              <div class='switch-knob-first'></div>
            </div>
          </div>
          <div class='settings-CTA'><h2>Stop:</h2></div>
          <div class='settings-CTA'>
            <h3>WASTING TIME</h3>
            <div class='switch-CTA-second'>
              <div class='switch-knob-second'></div>
            </div>
          </div>
        </div>
        <img class='vector-line' src='/assets/vector-line.svg'>
        <button class='button-CTA'>Get offer</button>
        
      </div>
    </div>

</body>
</html>