<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel='stylesheet' type='text/css' href="landing-page.component.css">
    </head>
    <body>
        <!-- <img class="logo" src="./assets/viralize-logo.png"> -->
        <div class='container'>
            <div class="card websites"></div>
            <div class='card marketing'></div>
            <div class='card contact'></div>
            <div class='card legal'></div>
        </div>

        <script type='text/javascript' src='landing-page.component.ts'></script>
    </body>
</html>
