<form>
    <h1>Contact us</h1>
    <hr>
    <h2>and get an offer</h2>
    <div class = 'separator'></div>
    <div class = "name-email">
        <div class = "same-line">
            <h2>Name: </h2>
            <input class = 'inputs'>
        </div>
        <div class = "same-line">
            <h2>Email: </h2>
            <input class = 'inputs'>
        </div>
        <h2>Tell us more about your vision:</h2>
        <textarea></textarea>
        <div class = "same-line">
            <input type="checkbox">
            <p>I have read and I accept the </p>
            <button class = 'terms'>Terms&Conditions</button>
        </div>
        <button class = 'submit'>Submit</button>
    </div>
</form>
